<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Django Level Two</title>
    <link rel="stylesheet" href="{% static "css/mystyle.css" %}"/>
  </head>
  <body>
    <h1>Hi, welcome to Django Level Two!</h1>
    <h2>Here are your web data records:</h2>
    <div class="djangtwo">
      {% if records %}
          <table>
            <thead>
              <th>Topic</th>
              <th>Name</th>
              <th>Url</th>
            </thead>

            {% for acc in records %}
              <tr>
                <td>{{ acc.topic }}</td>
                <td>{{ acc.name }}</td>
                <td>{{ acc.url }}</td>
              </tr>
            {% endfor %}
        </table>

      {% else %}
        <p>No Data Records. Table Not Created.</p>
      {% endif %}
    </div>


  </body>
</html>
